.popup{ 
     
    height: 100vh;
   
}  
 .modal-dialog { 
    display: flex;
    align-items: center;
    min-height: calc(100% - var(--bs-modal-margin)*2);
}
.popup .modal-content{
    background: transparent; 
    border: 0;    
    color: #1914A4;
    z-index: 999;
}
.popup .modal-content img{
    width: 100%;
    position: absolute;
    top: -32%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}
.kudos{
    text-transform: uppercase;
    font-size: 45px;
    line-height: 146%;
    text-align: center;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    /* background: #3531BB; */
    border: 5px solid #FFFFFF;
    border-radius: 40px 40px 0px 0px; 
    height: 225px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 11rem;
}
.popup .modal-content p{
    font-weight: 600;
font-size: 20px;
line-height: 30px;
text-align: center; 
background: #FFFFFF;
border-radius: 0px 0px 40px 40px;
border: 5px solid #FFFFFF;
width: 100%;
padding: 4px 22px;
}


@media (max-width: 480px){
    .popup .modal-content img { 
        top: -29%;
    }
    .kudos { 
        height: 195px; 
    }
}