.forgot-page-wrapper{
    background-image: url(../../Assest/img/loginBg.png);
    height: 100vh; 
    width: 100vw; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    overflow-y: auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* .forgot-page-wrapper .playBtn{
    margin-top: 3rem;
}
.forgot-page-wrapper .playBtn a{
    width: 100%;
    position: relative;
}
.forgot-page-wrapper .playBtn a::before, .forgot-page-wrapper .playBtn a::after, .forgot-page-wrapper .playBtn a span::before, .forgot-page-wrapper .playBtn a span::after{
    width: 182px;
}
.forgot-page-wrapper .playBtn a:hover::before, .forgot-page-wrapper .playBtn a:hover::after, .forgot-page-wrapper .playBtn a:hover span::before, .forgot-page-wrapper .playBtn a:hover span::after{
    width: 161px;
} */
.update-password{
    box-sizing: border-box; 
    width: 380px;
    height: 492px;
    margin-right: 10%; 
    height: auto;
}
.forgot-page-wrapper p{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%; 
    letter-spacing: 0.2em;
    color: #ECE8E1;
    margin-bottom: 3rem;
}

.custom-error-msg{
    width: 100%;
    margin-top: 0.25rem;
    text-align: right;
    letter-spacing: 0.2em;
    color: #FF0000;
    position: absolute;
    right: 0;
    font-size: 12px;
    line-height: 15px;
}
/* .forgot-submit-button{
    cursor: pointer;
    width: 100%;
    height: 54px;
    background: #FFFFFF;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
} */

/* .update-password{
    padding: 50px;
    display: flex;
    justify-content: center;
    text-align: left;
    
} */

@media (max-width: 480px){
    .update-password { 
        width: 90%;
        margin: auto;
    }
}