.navbar{
    position: fixed;
    width: 100%;
    /* height: 80px; */
    left: 0px;
    top: 0px;
    padding: 0;
    z-index: 999;
    background: linear-gradient(180deg, #110929 0%, rgba(17, 9, 41, 0.1) 145.5%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.navbar-toggler{
    border: 0;
}
.navbar-brand { 
    width: 120px;
}

.navbar-brand img {
    width: 66%;
} 

.navbar-expand-lg .navbar-nav .nav-link{
    cursor: pointer; 
    margin-left: 26px;
    font-family: "Valorant";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.25em;
    color: #ECE8E1;
}
.navbar-toggler-icon{
    background-image:url('../../Assest/img/menuIcon.svg')
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-expand-lg .navbar-nav .nav-link .fa {    
    font-size: 20px;
}
@media (max-width: 1500px){
.navbar-expand-lg .navbar-nav .nav-link { 
    margin-left: 20px; 
    font-size: 15px;
}
}
@media (max-width: 1350px){
    .navbar-expand-lg .navbar-nav .nav-link {
      margin-left: 23px;
      font-size: 12px;
  }
}
@media (max-width: 900px){
    
    .collapsing {
        transition: all .13s ease;
        /* height: 100% !important; */
    }
}
@media (max-width: 480px){
    .navbar-expand-lg .navbar-nav .nav-link {
        margin-left: 2px;
        font-size: 15px;
        font-weight: 400;
        font-size: 19px;
        line-height: 90%;
        padding: 15px 0; 
    }
    .navbar-brand img {
        width: 41%;
    }
    .navbar-collapse { 
        margin: 25px 0;
    }
    #responsive-navbar-nav::before {
        content: "";
        width: 41%;
        height: 1px;
        background: #fff;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 10px auto;
    }
 }
 
 