.navbar{
    position: fixed;
    width: 100%;
    /* height: 80px; */
    left: 0px;
    top: 0px;
    padding: 0;
    z-index: 999;
    background: linear-gradient(180deg, #110929 0%, rgba(17, 9, 41, 0.1) 145.5%);
    /* opacity: 0.7; */
}
 .navbar-brand img{
    width: 51%;
}  
.navbar-expand-lg .navbar-nav .nav-link{
    cursor: pointer; 
    margin-left: 36px;
    font-family: "Valorant";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.25em;
    color: #ECE8E1;
}
@media (max-width: 1500px){
.navbar-expand-lg .navbar-nav .nav-link { 
    margin-left: 34px; 
    font-size: 15px;
}
}
@media (max-width: 1350px){
    .navbar-expand-lg .navbar-nav .nav-link {
      margin-left: 23px;
      font-size: 12px;
  }
}
@media (max-width: 480px){
    .navbar-brand img {
        width: 38%;
    }
 }
 @media (max-width: 380px){
    .navbar-brand img {
        width: 25%;
    }
 }
 @media (max-width: 350px){
   
    .navbar-brand img {
        width: 27%;
      }
 }