.signup-page-wrapper{
    color:#FFFFFF;
    /* margin-top: 150px; */
    text-align: center;
    background-image: url(../../Assest/img/login-backgroung.png);
    height: 100vh; 
    /* width: 100vw;  */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif; 
    overflow-y: auto;
    position: relative;
}
.signup-box{
    box-sizing: border-box;
    position: absolute;
    width: 50%;
    min-height: 492px;
    left: 120px;
    top: 192px;
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid #000000;
    border-radius: 16px;
}

.signup-page-wrapper .invalid-feedback{
    position: absolute;
    margin-top: 2px;
}
.signup-page-wrapper  .small-lable.form-label{
    margin-bottom: 0.25rem;
}
.signup-page-container{
    padding: 50px;
    display: flex;
    justify-content: center;
    text-align: left;
    /* display: none; */
}


.signup-submit-button{
    cursor: pointer;
    width: 30%;
    height: 54px;
    /* float: */
    background: #FFFFFF;
    border-radius: 8px; 
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}


/* #partitioned {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 220px;
    outline : none;
  } */

  .otp-input{
    background-color: #FFFFFF;
  }
  @media (max-width: 850px) {
     
    .signup-box { 
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }
  }
  @media (max-width: 480px) {
    .signup-page-wrapper{
        margin-bottom: 3rem;
    }
    .signup-page-container {
        padding: 35px;
    }
    .signup-box { 
        width: 99%; 
        left: 0; 
    }
  }